html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    width: 100%;
    height: 100%;
}

#animationButtons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#animationButtons > * {
    margin: 0 0.5rem;
    display: block;
}

#animationButtons > button {
    width: 100px;
    font-size: 1rem;    /* Schriftgröße der Buttons = Standardschriftgröße im Browser*/
    font-weight: bold;  /* Schriftart der Buttons = Standardschriftgröße fett*/
    cursor: pointer;     /* Mauszeiger ändert sich wenn dieser über den Buttons steht */
    padding: 0.5em 1em; /* Vertikale Horizontale ==> Größe und Abstand des Rahmens (jedes Buttens) richtet sich nach der Schriftgröße*/

    margin-bottom: 0.5rem !important;

    background-color:rgb(0, 0, 0);   /* Hintergrundfarbe der Buttons*/
    color:white;                     /* Schriftfarbe der Buttons*/
    border-radius: 0.5em;              /* Radius Buttonrand/Grenze */
    border: 0.2em solid rgb(0, 0, 0); /* Rand: 2Pixel, eine Linie, Schwarz*/
    transition: background .4s, color .4s;
}

#animationButtons > button:hover {       /* Hover-Effekt ==> Button ändert Design wenn der Cursor drüber steht*/
    color:rgb(0, 0, 0);               /* Schriftfarbe der Buttons*/
    background-color:white;           /* Hintergrundfarbe der Buttons*/
}